python/notebooks
python/*_results_*/
python/taxonomy_16_08
python/data
python/.vscode
python/trsomix_wrapper/build
python/trsomix_wrapper/dist
python/trsomix_wrapper/trsomix_wrapper.egg-info
python/trsomix_wrapper/_trs_omix.cpython-36m-x86_64-linux-gnu.so
python/trsomix_wrapper/_trs_omix.cpython-310-x86_64-linux-gnu.so
python/trsomix_wrapper/_trs_omix.o
python/trsomix_wrapper/trs_omix.c
python/trsomix_wrapper/trs_omix.o
python/TRS_part.ipynb
python/testing.csv
python/TRS_part.ipynb
python/E_coli_results_L100_R100_c1.0
Results_passing
python/interiors.txt
python/TRS_part.ipynb
python/E_coli/E_coli/BA000007.2.fasta
python/E_coli/E_coli/CP000801.1.fasta
python/E_coli/E_coli/CP001671.1.fasta
python/E_coli/E_coli/CP007149.1.fasta
python/E_coli/E_coli/fasta_check.sh
python/E_coli/E_coli/FM180568.1.fasta
python/E_coli/E_coli/NC_002655.2.fasta
python/E_coli/E_coli/NC_004431.1.fasta
python/E_coli/E_coli/NC_007946.1.fasta
python/E_coli/E_coli/NC_008253.1.fasta
python/E_coli/E_coli/NC_011601.1.fasta
python/E_coli/E_coli/NC_011741.1.fasta
python/E_coli/E_coli/NC_011751.1.fasta
python/E_coli/E_coli/NC_013361.1.fasta
python/E_coli/E_coli/NC_017626.1.fasta
python/E_coli/E_coli/NC_018658.1.fasta
python/E_coli/E_coli/NZ_CP009644.1.fasta
python/E_coli/E_coli/NZ_CP076123.1.fasta
python/E_coli/E_coli/NZ_HG941718.1.fasta_BAD_FORMAT
python/E_coli/E_coli/trs.txt
python/E_coli/EHEC/NC_002655.2.fasta
python/E_coli/EHEC/NC_013361.1.fasta
python/E_coli/EHEC/NC_018658.1.fasta
python/E_coli/exPEC/NC_004431.1.fasta
python/E_coli/exPEC/NC_011601.1.fasta
python/E_coli/exPEC/NC_011741.1.fasta
python/E_coli/exPEC/NC_011751.1.fasta
python/E_coli/exPEC/NZ_CP009644.1.fasta
python/E_coli/exPEC/NZ_HG941718.1.fasta
python/E_coli/IPEC/BA000007.2.fasta
python/E_coli/IPEC/CP000801.1.fasta
python/E_coli/IPEC/CP001671.1.fasta
python/E_coli/IPEC/FM180568.1.fasta
python/E_coli/IPEC/NC_017626.1.fasta
python/E_coli/UPEC/CP007149.1.fasta
python/E_coli/UPEC/NC_004431.1.fasta
python/E_coli/UPEC/NC_007946.1.fasta
python/E_coli/UPEC/NC_008253.1.fasta
python/E_coli/UPEC/NZ_CP076123.1.fasta
python/home/hsalamaga/TRS-omix_new/python/test/TRS_output/combined_sequences_unique.fasta
python/home/hsalamaga/TRS-omix_new/python/test/TRS_output/combined_sequences.fasta
python/src/__pycache__/__init__.cpython-310.pyc
python/src/BlastProcessor/__pycache__/__init__.cpython-310.pyc
python/src/BlastProcessor/__pycache__/BlastProcessor.cpython-310.pyc
python/src/FileHandler/__pycache__/__init__.cpython-310.pyc
python/src/FileHandler/__pycache__/FileHandler.cpython-36.pyc
python/src/FileHandler/__pycache__/FileHandler.cpython-310.pyc
python/src/pytrsomix/__pycache__/__init__.cpython-310.pyc
python/src/pytrsomix/__pycache__/TRSanalyzer.cpython-310.pyc
python/src/pytrsomix/__pycache__/TRScalculator.cpython-36.pyc
python/src/pytrsomix/__pycache__/TRScalculator.cpython-310.pyc
python/src/SequenceProcessor/__pycache__/__init__.cpython-310.pyc
python/src/SequenceProcessor/__pycache__/SequenceProcessor.cpython-36.pyc
python/src/SequenceProcessor/__pycache__/SequenceProcessor.cpython-310.pyc
python/src/stats/__pycache__/__init__.cpython-310.pyc
python/src/stats/__pycache__/Stats.cpython-36.pyc
python/src/stats/__pycache__/Stats.cpython-310.pyc
python/TRS_part.ipynb
python/E_coli_analysis_summary.ods
python/example_Cmd.txt
python/Klebsiella_analysis_summary.ods
python/Pseudomonas_analysis_summary.ods
python/Untitled 1.ods
python/TRS_part.ipynb
